@tailwind base;
@tailwind components;
@tailwind utilities;

input:placeholder-shown {
    text-overflow: ellipsis;
  }
  
  .recipientList::-webkit-scrollbar {
    width: 6px;
  }
  
  
  /* Track */
  .recipientList::-webkit-scrollbar-track {
    background: transparent;
   
  }
   
  /* Handle */
  .recipientList::-webkit-scrollbar-thumb {
    background: #e0e0e0; 
    border-radius: 12px;
    display: none;
  }
  
  .recipientList:hover::-webkit-scrollbar-thumb {
    display: block;
  }
  
  
  /* Handle on hover */
  .recipientList::-webkit-scrollbar-thumb:hover {
    background: #dcdcdc; 
  }